<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title><%= title %></title>
    <link rel="stylesheet" media="all" href="<%= css %>" />
  </head>

  <body>
    <div class="background"></div>

    <% if (sources.length > 1) { %>
    <div class="jumper">
      <strong>Jump To</strong>
      <ul>

        <% for (var i = 0, l = sources.length; i < l; i++) { %>
        <% var source = sources[i]; %>
        <li>
          <a class="source" href="<%= path.basename(destination(source)) %>"><%= path.basename(source) %></a>
        </li>
        <% } %>

      </ul>
    </div>
    <% } %>

    <div class="sections">
      <ul>

        <% if (!hasTitle) { %>
        <li class="section">
          <div class="annotation">
            <h1 class="title"><%= title %></h1>
          </div>
        </li>
        <% } %>

        <% for (var i = 0, l = sections.length; i < l; i++) { %>
        <% var section = sections[i]; %>
        <li id="section-<%= i + 1 %>" class="section">
          <div class="annotation">
            <% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
            <div class="pilwrap<%= heading ? ' for-' + heading[1] : '' %>">
              <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
            </div>
            <%= section.docsHtml %>
          </div>

          <% if (section.codeText.replace(/\s/gm, '') != '') { %>
          <div class="content"><%= section.codeHtml %></div>
          <% } %>
        </li>
        <% } %>

      </ul>
    </div>
  </body>
</html>
